.parallax {
    background-image: url("../../images/parallax/background.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content{
        width: fit-content;
        min-width: 300px;
    }

    &__header, &__description{
        color: #fff !important;
        text-align: center;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    }

    &__header{
        font-size: 3.5rem !important;
    }

    &__description{
        font-size: 1.5rem !important;

    }
  }