.page-header {
  border: 1px solid rgb(235, 237, 240);
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &__links-list {
    display: flex;
    justify-content: flex-end;
    width: min-content;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &__link-item {
    display: block;
    margin-left: 10px;

  }

  &__link-item:first-child{
    margin-left: 0;
  }

  &__menu{
    width: 100%;
  }
}